# macOS system files
.DS_Store
.DS_Store?
*.swp
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Xcode user settings
xcuserdata/

# Xcode compatibility checking
*.moved-aside

# Build generated
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Do NOT ignore shared Xcode schemes
!xcshareddata/